%h1 API Documentation
%p Bus Plus is a framework for managing vehicles and passengers for local and regional transportation.
%h2 Use Cases
%ul.use-cases
	%li 
		%strong= link_to 'Drivers', drivers_path
		provide on-demand transportation service to 
		%strong= link_to 'passengers', passengers_path
		using an automated dispatch system.
	%li
		%strong= link_to 'Passengers', passengers_path
		make point-to-point transport requests, called
		%strong= link_to 'segments', segments_path
		using a kiosk or mobile device.
	%li
		%strong Automated workers
		sort requests and match each to a
		%strong= link_to 'vehicle', vehicles_path
		using a matching algorithm.
		= link_to 'Learn More', match_path

%h2 
	Base URL: 
	%i http://buspl.us/api

/ #authentication
/ 	#user
/ 		%h3 User (CRUD)
/ 		%ul
/ 			%li
/ 				%span POST /users
/ 				%p.request {"user":{"first_name":"Test", "last_name":"User", "email":"test@buspl.us", "password":"abc123"}}
/ 				%p.response {"user":{"id":123456, "api_token":"456def", ...}}
/ 			%li
/ 				%span GET /users/:id
/ 				%p.response {"user":{"id":123456, "api_token":"456def", ...}}
/ 			%li
/ 				%span PUT /users
/ 				%p.request {"user":{"first_name":"Test", "last_name":"User"}}
/ 				%p.response HTTP 200 OK
/ 			%li
/ 				%span DELETE /users/:id
/ 				%p.response HTTP 200 OK
/ 				
/ 	#session
/ 		%h3 Session (C..D)
/ 		%ul
/ 			%li 
/ 				%span POST /sessions
/ 				%p.request {"session":{"email":"your_email", "password":"your_password"}}
/ 				%p.response {"session":{"api_token":"abc123"}}
/ 			%li 
/ 				%span DELETE /session
/ 				%p.response HTTP 200 OK
/ 	#token
/ 		%h3 Token (HTTPS Basic Auth)
/ 		%p Once you have a token, you can access any endpoint by submitting the token as the HTTPS basic authentication username. The password is ignored.

/ 	#endpoints
/ 		#passengers
/ 			%h3 Passengers (C.UD)
/ 			%ul
/ 				%li 
/ 					%span POST /passengers
/ 					%p.request {"passenger":{"latitude":26.0, "longitude":-82.0}}
/ 					%p.response {"passenger":{"id":123, "latitude":26.0, "longitude":-82.0}}
/ 				%li 
/ 					%span PUT /passengers/:id
/ 					%p.request {"passenger":{"latitude":26.5, "longitude":-82.5}}
/ 					%p.response HTTP 200 OK
/ 				%li 
/ 					%span DELETE /passengers/:id
/ 					%p.response HTTP 200 OK
/ 		#destinations
/ 			%h3 Destinations (C..D)
/ 			%ul
/ 				%li 
/ 					%span POST /passengers/:passenger_id/destinations
/ 					%p.request {"destination":{"latitude":25.6, "longitude":-82.3}}
/ 					%p.response HTTP 200 OK
/ 				%li 
/ 					%span DELETE /passengers/:passenger_id/destinations/:id
/ 					%p.response HTTP 200 OK
/ 		#vehicles
/ 			%h3 Vehicles (CRUD)
/ 			%ul
/ 				%li 
/ 					%span POST /vehicles
/ 					%p.request {"vehicle":{"driver_id":123, "latitude":23.8, "longitude":-81.7}}
/ 					%p.response {"vehicle":{"id":456, "driver_id":123, "latitude":23.8, "longitude":-81.7}}
/ 				%li 
/ 					%span GET /vehicles
/ 					%p.response [{"vehicle":{"id":456, "driver_id":123, "latitude":23.8, "longitude":-81.7}}]
/ 				%li 
/ 					%span PUT /vehicles/:id 
/ 					%p.request {"vehicle":{"latitude":23.9, "longitude":-81.4}}
/ 					%p.response HTTP 200 OK
/ 				%li 
/ 					%span DELETE /vehicles/:id
/ 					%p.response HTTP 200 OK
/ 		%hr
/ 	#workers
