%h1 New Passenger
= form_for @passenger do |f|
  %p
    = f.label :latitude
    = f.text_field :latitude
  %p
    = f.label :longitude
    = f.text_field :longitude
  %p
    = f.submit 'CREATE PASSENGER'
