<h1>Vehicles</h1>
<% if @vehicles.empty? %>
<p>No vehicles on file.</p>
<% else -%>
<ul>
	<% @vehicles.each do |vehicle| %>
	<li><%= vehicle.latitude %>, <%= vehicle.longitude %> (<%= vehicle.seats_available %>)
		<%= link_to 'delete', vehicle, :method => :delete %>
	</li>
	<% end -%>
</ul>
<% end -%>

<p><%= link_to 'Add Vehicle', new_vehicle_path %></p>
