<h1>New Vehicle</h1>
<%= form_for @vehicle do |f| %>
<p>
	<%= f.label :latitude %>
	<%= f.text_field :latitude %>
</p>
<p>
	<%= f.label :longitude %>
	<%= f.text_field :longitude %>
</p>
<p>
	<%= f.label :seats_available %>
	<%= f.text_field :seats_available %>
</p>
<p>
	<%= f.submit 'CREATE VEHICLE' %>
</p>
<% end -%>
