%h1 New Vehicle
= form_for @vehicle do |f|
  %p
    = f.label :latitude
    = f.text_field :latitude
  %p
    = f.label :longitude
    = f.text_field :longitude
  %p
    = f.label :seats_available
    = f.text_field :seats_available
  %p
    = f.submit 'CREATE VEHICLE'
